<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Login System</title>
</head>
<body class="bg-[#f0f1f2]">
    
  <div th:replace="~{login :: login}"></div>

  
<script th:src="@{/node_modules/flowbite/dist/flowbite.js}"></script>
</body>
</html>